body {
  background-color: gray;
}

#theForm {
  margin-top: 40%;
}

#login-container {
  background-image: url(notebook.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 500px;
}

#bannerContainer {
  background-image: url(notebook2.jpg);
  width: auto;
  height: 350px;
  background-repeat: no-repeat;
}
