body {
  background-color: gray;
}

.entries {
  display: block;
  min-height: 200px;
  max-height: 200px;
  height: 200px;
  overflow: scroll;
}

#more-button {
  margin-right: 50px;
  margin-bottom: 20px;
}

#back-to-posts {
  margin-bottom: 20px;
}






/*#theForm {
  margin-top: 40%;
}

#login-container {
  background-image: url(notebook.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 500px;
}

#bannerContainer {
  background-image: url(notebook2.jpg);
  width: auto;
  height: 350px;
  background-repeat: no-repeat;
}*/
